<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.matchmatch"

>

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <dist:module dist:instant="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="우리동네승부사"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">


        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyC9CjgE06ZmMPZucs0xcRhWCjj9TiGV5ds"/>


        <activity
                android:name=".RoomMake"
                android:label="title_activity_room_make1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".RoomView"/>

        <activity
                android:name=".MapsActivity"
                android:label="Select Map">
        </activity>
        <activity android:name=".AfterActivity"/>
        <activity android:name=".ChatActivity"/>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".RegisterActivity"/>


    </application>

</manifest>